/* Color Defaults */
:root {
    --color-main: #ffffff;
    --color-secondary: #0004ab;
    --color-tertiary:#000;
    --color-quad: #272727;
    --shadow:  #272727;
    --font-family: 'Kufam', cursive;
}
@import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');

html {
    font-size: 16px;
    margin: 10px;
    padding: 100px;
    background-color: var(--color-main);
}

body {
    min-width: fit-content;
    margin: 0em 1vw;
    filter: drop-shadow(12px 4px 0.75rem #000);
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}

header,
footer {
    background-color: var(--color-secondary);
    padding: 0em 2em;
    color: var(--color-main);
}

header {
    max-height: fit-content;
    width: auto;
    padding: 1em;
    font-family: var(--font-family);    
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

h1 {
    font-size: 2.5em;    
    display: inline-block;
    margin: 0em;
}

header img {    
    width: 200px;
    max-width: 100%;
    max-height: 100%;
    margin-top: 2.5em;
    border-radius: 2em;
    filter: drop-shadow(0 0 0.75rem #000); 
}

main {
    background-color: var(--color-main);
    min-height: 30vh;
    padding: 1.5em 2em;
    font-family: var(--font-family);
    
}

main h2 {
    margin: 0em;
    color: var(--color-quad);
    font-size: 1.5em;
    line-height: 2em;
    font-weight: 900;
}

main hr {
    background-color: var(--color-tertiary);
    height: .5em;
    border-radius: .5em;
}

main p,
main ul {
    font-size: 1.25em;
    font-weight: 800;
    color: var(--color-quad);
}

main ul li a {
    color: var(--color-quad);
    padding-left: .25em;
}

main ul li a:hover {
    color: var(--color-secondary);
    padding-left: .25em;
}


footer {
    margin: 0em;
    padding: 1em;
    text-align: center;
    font-family: var(--font-family);
    font-weight: 900;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

footer a {
    color: var(--color-main);
}

footer a:hover {
    color: var(--color-tertiary);
}
/*
#container {
    width: 200px;
}
#container img{
    max-width: 100%;
    max-height: 100%;
} */