/* Color Defaults */
/* Ctrl + F to Jump to sections
Nav
Img
Index
RSVP
Contacts
Footer
Rentals
tours
*/
:root {
    --color-main: #4ab5a5;
    --color-secondary: #f19824;
    --color-tertiary: #2c6b85;
    --color-quad: #ffffff;
    --font-color-primary: #000;
    --font-color-secondary: #fff;
}

html {
    font-size: 16px;
    margin: 10px;
    padding: 100px;
    background-color: white;
}

body {    
    margin: auto;    
    border-radius: 3px;
}

#banner {
    background-color: var(--color-main);
    justify-self: center;
    align-self: center;
    text-align: center;
    font-size: 35px;
    margin: auto;
}

.logo {    
    max-width: 100px;
}

header {
    background-color: var(--color-main);    
    color: var(--font-color-primary);
    max-height: fit-content;
    width: auto;
    padding: 1em;
    font-family: 'Oxygen', sans-serif;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    position: sticky;
}

/* nav and nav related elements */
nav {
    margin: 0 auto;
    max-width: 760px;
    background-color: var(--color-secondary);
    color: var(--font-color-secondary);
    border-radius: 3px;
}

.navigation {
    list-style: none;
    padding: 0;

}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: var(--font-color-primary);
    font-weight: 700;
}

.navigation a:hover {
    color: white;
    background-color: var(--color-tertiary);
}

.currentPage {
    color: white;
    background-color: var(--color-tertiary);
}

.responsive li {
    display: block;
}

/* end nav elements */

h1 {
    font-size: 40px;
    display: inline-block;
    margin: auto;
}

main h3 {
    font-size: 20px;
    color: #f19824;
}

main h2 {
    font-size: 30px;
    color: var(--color-main);
    text-align: center;
}

header h2 {
    margin: 0em;
    color: var(--color-main);
    font-size: 1.5em;
    line-height: 2em;
    font-weight: 900;
}

main {
    background-color: var(--color-quad);
    min-height: 30vh;
    padding: 1.5em 2em;
    font-family: 'Noto Sans JP', sans-serif;

}

main hr {
    background-color: var(--color-tertiary);
    height: .5em;
    width: 75%;
}

main p {
    text-align: left;
}

/*img properties and values */
img {
    width: 60%;
    max-width: 400px;
    margin: auto;  
}

.imgHero {
    padding: 2px;
    width: 75%;
    max-width: 500px;
    margin: auto;

}

/*End img section */


/* indedx content */

div {
    display: block;
}

#herogrid {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr) 25% auto;
    margin: auto;
    gap: 25px;
    width: auto;
    height: 50%;
}

.hg-alert {
    grid-column: 1 / 6;
    grid-row: 1;
    display: none;
    background-color: var(--color-secondary);    
    margin: auto;
    text-align: center;
}


.hg-item0 {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    
       
    margin: auto;
    text-align: center;
}

.hg-item1 {
    grid-column: 5 / 5;
    grid-row: 2 / 3;   
    text-align: center;
}

.hg-item2 {
    grid-column: 2/5;
    grid-row: 3;
    display: block;
    background-color: var(--color-main);
    color: white;
    text-shadow: 1px 1px #000000;    
    text-align: center;
}

#infogrid {    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: auto;
    width: auto;
    height: 50%;
    column-gap: 5px;    
}

.if-item0 {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.if-item1 {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

.if-item2 {
    grid-column: 3 / 3;
    grid-row: 1 / 1;
}

.if-item3 {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
}

.if-item4 {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}

.if-item5 {
    grid-column: 3 / 3;
    grid-row: 2 / 2;
}

.if-item6 {
    grid-column: 2;
    grid-row: 3;
    text-align: center;
}

.if-item0,
.if-item1,
.if-item2,
.if-item3,
.if-item4,
.if-item5,
.if-item6 {       
    text-align: center;
}

.if-item3 p, .if-item4 p, .ifitem5 p{
    text-align: center;
}

#cta {
    text-align: center;
    background-color: var(--color-main);
    margin: auto;
    width: 50%;
}

#summary table{
    border: 2px solid #000000;    
    padding: 20px;
    box-shadow: 1px 1px #000000;
}

.weatherForecast {
    margin: auto;
    padding: 10px;
}


/* index content ends */

/* contacts content */

#contactgrid {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: auto;
    width: 50%;
    height: 50%;
    padding: 5px;
    gap: 15px;
}

.cn-item0 {
    grid-column: 0 / 2;
    grid-row: 1 / 2;
    padding: 5px;
}

.cnContent0 {
    text-align: left;
}

.cnContent0 h3 {
    text-align: center;
}

.cn-item1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: var(--color-tertiary);
    margin: auto;
    padding: 5px;
}


.cn-item2 {
    grid-column: 0 / 2;
    grid-row: 2 / 3;
    padding: 5px;
    text-align: left;
    color: var(--font-color-primary);
}

.cn-item3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 5px;
    text-align: left;
}

.cn-item3 h3 {
    text-align: center;
}

.thCN {
    text-align: center;
}

p .thCN {
    text-decoration: none;
}

/* Contact Content end */
/* RSVP Content */

#rsvpFlex {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: center;
    margin: auto;

}

.rsItem0 {
    border: 2px solid var(--color-secondary);
    background-color: var(--color-main);
    font-weight: 650;
    margin: auto;
    width: 30%;
    padding: 5px;
    max-width: 500px;
}

.rsItem1 {
    border: 2px solid var(--color-secondary);
    background-color: var(--color-main);
    font-weight: 650;
    margin: auto;
    width: 40%;
    padding: 15px;
    max-width: 700px;
}

.rsItem2 {
    border: 2px solid var(--color-secondary);
    background-color: var(--color-main);
    font-weight: 650;
    width: 30%;
    padding: 5px;
    max-width: 500px;
}

/* RSVP Content end */
/* Rentals Content */

#rnStructure {
    margin: auto;
    text-align: center;
    
}

#rnStructure thead th{
    background-color: var(--color-secondary);
}

/*Rentals Content end */
/*Tours Content*/

#tourgrid {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: auto;
    width: 50%;
    height: 50%;
    padding: 5px;
    gap: 15px;
}

.tu-item0 {
    grid-column: 0 / 1;
    grid-row: 1 / 2;
    padding: 5px;
}

.tu-item1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: var(--color-tertiary);
    margin: auto;
    padding: 5px;
}


.tu-item2 {
    grid-column: 0 / 1;
    grid-row: 2 / 3;
    padding: 5px;
    text-align: left;
    color: var(--font-color-primary);
}

.tu-item3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 5px;
    text-align: left;
}
.tu-item4 {
    grid-column: 0 / 1;
    grid-row: 3 / 4;
    padding: 5px;
    text-align: left;
}
.tu-item5 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    padding: 5px;
    text-align: left;
}

.tu-item3 h3 {
    text-align: center;
}



/* Footer Content */
footer {
    background-color: var(--color-tertiary);    
    color: var(--font-color-primary);
    margin: 0em;
    padding: 1em;
    text-align: center;
    font-family: var(--font-family);
    font-weight: 900;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

footer a {
    text-decoration: none;
    color: var(--color-secondary);
}

footer a:hover {
    color: var(--font-color-secondary);
}

footer ul li {
    display: inline;
    padding: 10px;
}

#footermap {
    font-family: 'Noto Sans JP', sans-serif;
    list-style: none;
    text-align: right;
    display: inline;
}

#socialcons {
    max-width: 40px;
    display: inline-block;
    margin: auto;
    list-style: none;
}